.example-container {
    width: 100% !important;
    height: 80%;
    border: 1px solid #f5b6da;
    border-radius: 5px;
}

.example-sidenav-content {
    display: flex;
    height: 40% !important;
    align-items: center;
    justify-content: center;
}

.example-sidenav-content {
    justify-content: flex-start;
    height: 40%;
    width: auto;
}

.sidenav {
    padding: 5px;
    border: 1px solid #f5b6da;
    border-radius: 5px;
}

span {
    padding: 1em;
}

mat-list-item:hover {
    background: #f5b6da;
    border-radius: 4px;
}

.notification-box {
    width: 40%;
}
