.example-container {
    width: 100% !important;
    height: 88%;
    border: 1px solid #f5b6da;
    border-radius: 5px;
}

.example-sidenav-content {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.example-sidenav {
    padding: 20px;
}