<mat-drawer-container class="example-container" autosize>
    <mat-drawer #drawer [opened]="showFiller" class="example-sidenav" mode="side">
        <p>Auto-resizing sidenav</p>
        <button (click)="showFiller = !showFiller" mat-raised-button>
      Toggle extra text
    </button>
    </mat-drawer>

    <div class="example-sidenav-content">
        <button type="button" mat-button (click)="drawer.toggle()">
      Toggle sidenav {{showFiller}}
    </button>

    </div>

</mat-drawer-container>
