.example-spacer {
    flex: 1 1 auto;
}

.mat-toolbar.mat-accent {
    background-color: #dd0074;
    color: white;
}

.mat-mdc-unelevated-button.mat-warn {
    --mdc-filled-button-container-color: #fff896;
    --mdc-filled-button-label-text-color: rgb(8, 8, 8);
}
